
<div class="col-md-4 col-md-offset-4 well">
<form  [formGroup]="signupForm" (ngSubmit)="save(f.form)">
    <fieldset>
        <legend>Sign Up</legend>
        <div class="form-group">
            <label for="inputFullname" >Full Name</label>
            <input
                type="text"
                id="inputFullName"
                [formControl]="signupForm.controls['fullName']"
                 [(ngModel)] = "user.fullName">
        </div>
        <div class="form-group">
            <label for="inputEmail">Email</label>
            <input
                required
                type="email"
                id="inputEmail"
                [formControl]="signupForm.controls['email']"
                [(ngModel)] = "user.email">
        </div>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input
                 required
                type="password"
                id="inputPassword"
                [formControl]="signupForm.controls['password']"
                [(ngModel)] = "user.password">
        </div>
        <div class="form-group">
            <label for="inputConfirmPassword">Confirm Password</label>
            <input
                 required
                type="password"
                id="inputConfirmPassword"
                [formControl]="signupForm.controls['confirmPassword']"
                >
        </div>
        <div class="form-group">
        <button type="submit" class="btn btn-primary col-lg-12">Sign Up</button>
        </div>
    </fieldset>
</form>
</div>
